// 
// 
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
//
//
//
//    font-family: 'Corben', cursive;
//
//    font-family: 'Quattrocento Sans', sans-serif;
//
// GENERAL SITEWIDE STYLES
body {
    color: black;
    font-family: 'Quattrocento Sans', apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --dark: black !important;
}

h1,
h2,
h3 {
    font-family: 'Corben', Georgia, serif;
    font-weight: 300 !important;
}

.btn-solo {
    color: black;
}

.btn-solo:hover,
.btn-solo:focus {
    color: $primary-3;
}

.overlap {
    position: absolute;
}

.link-alt {
    color: $primary-3;
}

.process-num {
    position: absolute;
    top: 0;
    color: $primary;
    font-size: 3000%;
    line-height: 70%;
    z-index: -10;
    left: 0;
    right: 0;
    font-weight: 700;
}

.text-muted {
    color: #c9753d !important;
}

.text-dark {
    color: black !important;
}

.mail-list-home {
    background-position: top 31% left 10%, top 31% right 10%;
    background-size: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/email_letter.png),
    url(../img/email_letter.png);
}

.started-home {
    background-image: url(../img/splash.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 400px;

}

.feel-good {
    background-position: bottom -16% left -19%;
    background-size: 460px;
    background-repeat: no-repeat;
    background-image: url(../img/feelinggood.png);
}

//temp solution for a section image dangling off into another section
.color-dangler {
    box-shadow: inset 0 -263px 0 white;
}

/// NAVIGATION BAR
.navbar {
    border-bottom: none;
}

.navbar a {
    font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: $primary-3;
}

@media screen and (min-width: 992px) {
    .process-num {
        left: 20%;
    }
}
